<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key ="ConnectionString" value="Data Source= 192.168.43.188;server=DESKTOP-QAACRLC\MSSQLSERVER01;Initial Catalog=Student_RegistrationDB;Trusted_Connection=True;"/>
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>